/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home - Recent posts
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 8px 0px;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  float: right;
}

ul.posts a {
  color: #269;
  text-decoration: none;
  font-size: 95%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header {
  border-bottom: 4px solid #eee;
  margin-bottom: 1em;
  text-align: center;
}

.site .header a {
  text-decoration: none;  
}

.site .header a.extra {
  color: #269;
  margin-left: 1em;
  font-size: 95%;
}

.site .header a.extra:hover {
  color: #000;
}

.site .header h1.title {
  display: block;
}

.site .header h1.title a {
  color: #000;
  font-size: 2em;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 4em;
  overflow: hidden;
  text-align: center;
}

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/

.post ul, .post ol {
  margin-left: 1.35em;
}

.post pre code {
  border: none;
}